<div class="card">
    <div class="card-header">
    SIMULADOR CUOTAS
    </div>
    <div class="card-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="txtPrestamos" placeholder="name@example.com" [(ngModel)]="formPrest.prest">
            <label for="txtPrestamos">Ingrese el monto</label>
        </div>
        <button type="button" (click)="calcularPrestamo()" class="btn btn-primary mt-3">CALCULAR</button>
        <hr/>
        <div class="alert alert-primary mt-3" role="alert">
            {{simulacion}}
        </div>
    </div>
</div>