<div class="container">
  <div class="row">
    <div class="col-3">
      <h3>EJERCICIO 1</h3>
      <p>http://localhost:4200/ejercicio1</p>
    </div>
    <div class="col-3">
      <h3>EJERCICIO 2</h3>
      <p>http://localhost:4200/ejercicio2</p>
    </div>
    <div class="col-3">
      <h3>EJERCICIO 3</h3>
      <p>http://localhost:4200/ejercicio3</p>
    </div>
    <div class="col-3">
      <h3>EJERCICIO 4</h3>
      <p>http://localhost:4200/ejercicio4</p>
    </div>
  </div>
</div>

<router-outlet />
